{{render 'slides'}}
<section id='about'>
  <article>
    <h3>Welcome,</h3>
    <p>My name is <a href="#">Vageesh Bhasin</a> and I like to <a href='#'>Dream, Create, Share and Repeat</a>. Lately, I have been developing web applications using JavaScript (Node.js and Ember.js).</p>
    <hr>
    <h4>Recent Activity:</h4>
    <ul>
      <h5>2014</h5>
      <li><a href="http://www.meetup.com/Node-js-Dilli/events/185036932/">Node.js Meetup</a>: Seminar on Socket.IO</li>
      <li>Mindfire Solutions: Internal Seminar on Socket.IO</li>
      <li><a href="http://www.meetup.com/Node-js-Dilli/events/182642562/">Node.js Meetup</a>: Seminar on Full-Stack JS Applications</li>
      <li>Mindfire Solutions: Internal Seminar on Full-Stack JS Applications</li>
    </ul>
    <hr>
    <h4>Interests:</h4>
    <ul>
      <li>Designing and Developing Web Applications</li>
      <li>Software Engineering Methodologies</li>
      <li>Music Production</li>
    </ul>
    <hr>
    <h4>Work</h4>
    <ul>
      <li>Present - Senior Software Engineer with <a href="http://www.mindfiresolutions.com/">Mindfire Solutions</a></li>
      <li>Prior - Software Engineer with <a href='http://www.infosys.com/'>Infosys Limited</a></li>
    </ul>
    <hr>
    <h4>Hobbies:</h4>
    <p>If you don't find me around a laptop, I'll most probably be jamming somewhere.</p>
    <hr>
  </article>
</section>
<section>
  {{! Contact Links }}
</section>