<section id='contact'>
  <article>
    <h1 class='hidden'>Contact Details</h1>
    <h3>Connect with me via:</h3>
    <ul>
      <li>
        <a href="https://twitter.com/VageeshB" target="_blank">
          <i class="fa fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/profile/view?id=304177130" target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/wackyish" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/vageeshb" target="_blank">
          <i class="fa fa-github-square"></i>
        </a>
      </li>
      <li>
        <a href="mailto:vageesh_bhasin@outlook.com">
          <i class="fa fa-envelope-square"></i>
        </a>
      </li>
    </ul>
  </article>
</section>