<article id='post'>
  <h2>
    {{title}}
  </h2>
  <div class='post-info'>
    <p>By {{creator}} [{{format-date created}}]</p>
  </div>
  <div class='post-body'>
    {{convert-marked body}}
  </div>
</article>