<section>
  {{! Slides }}
  <h1 class='hidden'>Slides</h1>
  <div id='slides'>
    <img src="assets/img/img-1.jpg">
    <img src="assets/img/img-2.jpg">
    <img src="assets/img/img-3.jpg">
    <img src="assets/img/img-4.jpg">
    <img src="assets/img/img-5.jpg">
    <img src="assets/img/img-6.jpg">
  </div>
</section>