<h1>{{#link-to 'application'}}{{title}}{{/link-to}}</h1>
<p>Musings of a Creator</p>
<nav>
  <ul>
    <li>{{#link-to 'posts'}}Home{{/link-to}}</li>
    {{#each}}
      <li>{{#link-to location}}{{name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</nav>